<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/dolce-icon.png" />
    <title>Dolce's Week6</title>
  </head>
  <body>
      <%- include('./layout/header'); -%>
      <main>
        <%- include('./layout/register'); -%>
      </main>
      <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
